///fonts///
$font-primary: "Gilroy-Regular";
$font-secondary: "monospace";
$font-size: 16px;

///colors///
$primary-color: #b1ff5c;
$secondary-color: #42882a;
$theaty-color: #ffb444;
$bg-color: #080807;
$body-text-color: #8a9385;
$hover-color: #9af03c;
$subtitle-color: #8e938c;
$srokys-color: #4f4f4f;
$title-color: #f7ffee;
$error-color: #ff3d3d;
